@model ServiceProductVM 

<div class="card shadow border-0 my-4  ">

    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Service Listing</h2>
            </div>

        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 ">
                

                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.Name" class="form-label p-0"></label>
                    <input type="text" class="form-control" asp-for="ServiceProduct.Name" placeholder="Enter the Service  Name" />
                    <span asp-validation-for="ServiceProduct.Name" class="text-danger"></span>

                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.CategoryId" class="form-label p-0"></label>
                    <select class="form-select" asp-items="@Model.ServiceCategoryList" asp-for="ServiceProduct.CategoryId">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="ServiceProduct.CategoryId" class="text-danger"></span>

                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.Description" class="form-label p-0"></label>
                    <textarea type="text" class="form-control" asp-for="ServiceProduct.Description" placeholder="Enter the Service Description"></textarea>
                    <span asp-validation-for="ServiceProduct.Description" class="text-danger"></span>

                     </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.Price" class="form-label p-0"></label>
                    <input type="number" class="form-control" asp-for="ServiceProduct.Price" placeholder="Enter the Price for Service" />
                    <span asp-validation-for="ServiceProduct.Price" class="text-danger"></span>

                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.Location" class="form-label p-0"></label>
                    <input type="text" class="form-control" asp-for="ServiceProduct.Location" placeholder="Enter the your Location" />
                    <span asp-validation-for="ServiceProduct.Location" class="text-danger"></span>

                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.ImageUrls" class="form-label p-0"></label>
                    <input type="file" class="form-control" asp-for="ServiceProduct.ImageUrls" placeholder="upload your images" />
                    <span asp-validation-for="ServiceProduct.ImageUrls" class="text-danger"></span>

                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.IsActive" class="form-label p-0"></label>
                    <input type="text" class="form-control" asp-for="ServiceProduct.IsActive" placeholder="Enter the Service Description" />
                    <span asp-validation-for="ServiceProduct.IsActive" class="text-danger"></span>

                </div>



                <div class="mb-3 row p-1">
                    <label asp-for="ServiceProduct.CreatedAt" class="form-label p-0"></label>
                    <input type="datetime-local" class="form-control" asp-for="ServiceProduct.CreatedAt" value="@Model.ServiceProduct.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss")" readonly />
                    <span asp-validation-for="ServiceProduct.CreatedAt" class="text-danger"></span>
                    
                    <div class="mb-3 row p-1">
                        <label asp-for="ServiceProduct.UpdatedAt" class="form-label p-0"></label>
                        <input type="datetime-local" class="form-control" asp-for="ServiceProduct.UpdatedAt" value="@Model.ServiceProduct.CreatedAt.ToString(" yyyy-MM-ddTHH:mm:ss")" readonly />
                        <span asp-validation-for="ServiceProduct.UpdatedAt" class="text-danger"></span>

                        </div>
                         <div class="row">
                            <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Create</button>

                            </div>
                         <div class="col-6 col-md-3">
                        <a asp-controller="ServiceProduct" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                        </div>


                    </div>



            </div>

        </form>

    </div>
</div>



        @section Scripts{
        
            @{
                 <partial name="_ValidationScriptsPartial"/>
                
            }
        }
